p {
  color: black;
}

ul {
  list-style-type: none;
}

aside {
  position: sticky;
  top: 10em; 
  width: 50 px;
} 

#menuDeroulant {
  position: sticky;
  width: 50 px;
  left: 0px;
  background-color: #b4bacf;
  top: 10em;
}

.sousMenueDeroulant {
  box-sizing: border-box;
  width: 50px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;}

.sousMenueDeroulant:hover {
  box-sizing: border-box;
  width: 50px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;

  .fleche {
    display: inline;
    float: left;
  }

  .fleche2 {
    display: none;
    
  }

  
.choixParmis {
    background-color: #A82430;
    position: relative;
    text-align: left;
    width: 15em;
    height: 3em;
    border: 2px;
    border-radius: 2px;
  }

.listeChoix {
    display: block;
    width: 12.2em;
    left: 5 em;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: rgb(255, 255, 255);
    color: #faf7f7;
}

.listeChoix a {
  color:#030304
}

.generalite {
  position: relative;
  left: 0em;
  bottom: 0.5em;
  color: #fbfbfc;
  /* background-color: #fbfbfb; */
}

}

.listeChoix {
  display: none;
}

.fleche {
  display: none;
}

.fleche2 {
  display: inline-block;
  float: left;
}

body {
  background-color: #f6fafb;
}

.generalite {
  position: relative;
  left: 0em;
  bottom: 0.5em;
  color: #030304;
  /* background-color: #fbfbfb; */
}


.choixParmis {
  background-color: #ffffff;
  position: relative;
  text-align: left;
  width: 15em;
  height: 3em;
  border: 2px;
  border-radius: 2px;
}


li {
  background-color: #fbfbfb;
  margin: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 10px;
  border-color: rgb(14, 14, 14);
  border-radius: 5px;
}
