#menueEntete {
  margin: 0;
  padding: 0;
  background-color: #A82430;
  color: #ffffff;
  position: sticky;
  top: 0px;
  height: 4em;
  width: 70em;
}

#sousMenu {
  display: none;
}

#accesDirect #sousMenu li:hover {


  #sousMenu {
    position: absolute;
    display: inline-block;
    min-height: 3em;
    text-align: left;
    left: 2em;
    top: 4em;
    background-color: antiquewhite;
      }

  /* #sousMenu .li {
    background-color: bisque; */
  } 
  

.barreHorizontal {
  text-align: left;
  left: 0; 
  width: 100%;
  height: 3em;
  top: 0em;
  text-align: center;}

.barreHorizontal li {
  float: left;
  background-color: #A82430;
  position: relative;
  min-width: 13em;
  left: 0em;
  
}

.barreHorizontal li a {
  color:#ffffff;
}

#menueEntete2 {
  position: relative;
  top: 1em;
  min-width: 5em;
  z-index: -1;
}

  .barreHorizontal2 {
    text-align: left;
    left: 0; 
    width: 100%;
    height: 3em;
    top: 5em;
    }

  .barreHorizontal2 li {
    float: left;
    position: relative;
    min-width: 7em;
    min-height: 2em;
    left: 15em;
    background-color: rgb(255, 255, 255);

  }

  .barreHorizontal2 li a{
    display: inline-block;
    color: #A82430;
  }
  
  

  


