.contenant {
    display:grid;
  }

@media only screen and (max-width:480px) {
    .contenant {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
        grid-template-areas: "titre"
                             "entete"
                             "entete2"
                             "menuDeroulant"
                             "piedPage";
                             
      }
}