.cours {
    grid-area: cours;
    grid-column: 3/5;
    grid-row: 4/6;
    text-align: left;
    z-index: 2;
}

/* .cours {display: none;} */

.contenu {display: none;};


.contenu {
    grid-area: contenu;
    grid-column: 3/5;
    grid-row: 4/6;
    text-align: left;
}

.menuDeroulant .sousMenuDeroulant .generaliteMain:hover {
    .contenu {display: inline-block;}
    }

.menuDeroulant2 .sousMenuDeroulant2 .generaliteMain:hover {
    .contenu {display: inline-block;}
}