

.piedPage {
    grid-area: piedPage;
    grid-column: 1/6;
    grid-row: 6/7;
    align-self: start;
    position: sticky;
    top: 265rem;
    /* position: relative;
    top:12em; */
}

.piedPage p{
    
    width: 100%;
    height: 4em;
    color: rgb(255, 255, 255);
    background-color:#C1002B;
    
}

#cnam {
position: absolute;
left:18em;
}

#tweeter {
position: absolute;
left:22em;
}
