.container {
    display:grid;
    grid-template-columns: repeat(4, 1fr) minmax(100px, 200px);
    grid-template-rows: repeat(10, 1fr) minmax(50px,450px);
    grid-template-areas: "entete entete entete entete"
                         "titre titre titre titre"
                         "titre titre titre titre"
                         "entete2 entete2 entete2 entete2"
                         "entete2 entete2 entete2 entete2"
                         "menuDeroulant menuDeroulant general supports"
                         "menuDeroulant menuDeroulant general supports"
                         "menuDeroulant menuDeroulant general supports"
                         "piedPage piedPage piedPage piedPage"
                         "piedPage piedPage piedPage piedPage";
                         
  }

@media(max-width:480px) {
    .container {
        display:grid;
        grid-template-areas: "entete"
                             "menuDeroulant2"
                             "piedPage";
      }
    }