/* .contenu {display: none;}; */

.contenu {
    grid-area: contenu;
    grid-column: 3/4;
    grid-row: 4/6;
}

.menuDeroulant .sousMenuDeroulant .generaliteMain:hover {
    .contenu {display: inline-block;}
    }

.menuDeroulant2 .sousMenuDeroulant2 .generaliteMain:hover {
    .contenu {display: inline-block;}
}